.tournament_item {
    transition: box-shadow .3s;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    text-align: left;
    border-radius: 16px;
    padding: 32px;
}

.tournament_item:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 20%);
    cursor: pointer;
}

.tournament_item_title {
    font-size: 25px;
    max-lines: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tournament_item_dates {
    font-size: 15px;
}

.tournament_item_max_teams {
    font-size: 15px;
    margin-left: 8px;
}


