:root {
    --white: white;
    --red: red;
}
.registration {
    background-color: #eff5ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    position: absolute;
    width: 534px;
    height: 534px;
    border-radius: 50%;
    background-color: #F7FAFF;
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255);
}

@media(max-width: 1200px) {

}