.profil__container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 3fr 1fr;
    width: 1600px;
    grid-auto-rows: minmax(50px, auto);
    align-items: start;
    justify-content: center;
    grid-gap: 2em;
    position: absolute;
    top: 4em;
}
.data__container {
    background-color: #F0DD13;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list__teams {
    border: 2px solid #960c2a;
    border-radius: 20px;
    width: 200px;
    background-color: #d59eb0;
}
.list__history {
    border: 2px solid #003A70;
    border-radius: 20px;
    width: auto;
    list-style-type: square;
    margin: 0px 1em 1em 1em;
    background-color: #0B8DF0;
}
.form {
    background-color: #F01360;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.team_registration {
    border: 2px solid saddlebrown;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 50px 0px;
    background-color: #F0B70C;
}
.input {
    margin: 0px 0px 20px 0px;
    border-radius: 20px;
    border: 3px solid #A8BAB6;
}
.history {
    background-color: #13C3F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

@media(max-width: 1600px) {

}