.header {
    display: flex;
    position: absolute;
    background-color: #FFFF00;
    top: 0;
    left: 10vw;
    width: 33vw;
    height: 3em;
    border-radius: 0px 0px 50px 50px;
}
.data {
    margin: 0px 1vw 0px;
}
.list {
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
}
.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 5em;
    right: 30em;
}
.turnir__grid__container {
    position: absolute;
    right: 50vw;
    bottom: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.turnir__grid {
    width: 750px;
    height: 435px;
    border: 2px solid black;
}
